<% provide(:title, "About") %>

<h1>About</h1>

<a href="/">Home</a>
<a href="/static_pages/help">Help</a>

<p>
	Chris Jang is a scrub that goes to the University of Illinois at Urbana-Champaign.
	He studies Computer Science and hopes to someday be a successful developer and possible launch his own company.
</p>