<% provide(:title, "Home") %>

<h1>Sample App Home Page</h1>
<p>
	This is the home page for the Sample App built in Ruby on Rails
</p>
<a href="http://chrisjang.com" target="_blank">Check out my site!</a>
<br><br>
<a href="/static_pages/help">Help</a> <!-- Redirect to help page -->
<a href="/static_pages/about">About</a>